.button {
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: background-color 0.1s, color 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.blue {
    background-color: var(--blue);
    border: 2px solid var(--dark-blue);
    color: #000
}

.blue:hover {
    background-color: var(--dark-blue);
    color: #FFF;
}

.green {
    background-color: var(--green);
    border: var(--dark-green) solid 2px;
    color: #FFF;
}

.green:hover {
    background-color: var(--dark-green);
}

.orange {
    background-color: var(--light-orange);
    border: 2px solid var(--orange);
    color: #000;
    max-width: 200px;
}

.orange:hover {
    background-color: var(--orange);
    color: #FFF
}

.small-button {
    padding: .5rem 1rem;
    font-size: 1rem;
}

a button {
    width: 100%;
}

