.button {
    min-width: 100px;
    max-width: 250px;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 3px solid;
    font-size: 1.5rem;
    transition: background-color 0.1s, color 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.small-button {
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 2px solid;
}

.blue {
    background-color: var(--blue);
    border-color: var(--dark-blue);
    color: #000
}

.blue:hover {
    background-color: var(--dark-blue);
    color: #FFF;
}

.green {
    background-color: var(--green);
    border-color: var(--dark-green);
    color: #FFF;
}

.green:hover {
    background-color: var(--dark-green);
}

.orange {
    background-color: var(--light-orange);
    border-color: var(--orange);
    color: #000;
}

.orange:hover {
    background-color: var(--orange);
    color: #FFF
}


