.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preference-container {
    width: 170px;
    height: 30px;
    padding:5px;
    background-color: #FFFFFF;
    border: #018A8C solid 1px;
    border-radius: 5px;
    color: #000000;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.preference-container p {
    margin: 0;
    color: #000000
}

.h3 {
    margin: 0;
}