.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.contact_background {
    position: absolute;
    top: 150px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 820px;
    border: #018A8C solid 2px;
    border-radius: 5px;
    background-color: #EEFCFC;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 3px;
}

.contact_background h2 {
    color: #018A8C;
    margin-left: 40px;
    text-decoration: underline;
}

.contact_background h3 {
    color: #018A8C;
    margin: 0 0 20px 0;
}

.contact_background img {
    border: #018A8C solid 2px;
    border-radius: 50%;
    width: 150px;
}

.contact_background input {
    width: 310px;
    height: 30px;
    padding: 5px 0 5px 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 25px;
}

.upload_btn {
    background-color: #52DEE0;
    border: #018A8C solid 2px;
    color: #E0FFFF;
    border-radius: 5px;
    transition: background-color 0.1s;
}
.upload_btn:hover {
    background-color: #018A8C;
    border-radius: 5px;
}

.picture {
    margin-left: 30px;
}