.details-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.details-field h2 {
    text-decoration: none;
}

.details-field span {
    display: inline;
    color: #018A8C;
    font-size: 1rem;
    margin-left: 10px;
}

.location {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.location p {
    margin: 0;
}
