/*  Contact  */

.avatar {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload_text h3 {
    margin: 0 0 7px 0;
}

.file_label {
    min-width: 100px;
    max-width: 200px;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 2px solid;
    font-size: 1rem;
    transition: background-color 0.1s, color 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--blue);
    border-color: var(--dark-blue);
    color: #000
}

.file_label:hover {
    background-color: var(--dark-blue);
    color: #FFF;
}

input[type="file"] {
    display: none;
}

/*   Request   */

#request {
    flex-direction: column;
    align-items: flex-start;
}

.request_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
}

.preference {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.preference button {
    align-self: flex-end;
}