.background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 820px;
    padding: 25px;
    margin-bottom: 15px;
    border: var(--dark-blue) solid 2px;
    border-radius: 5px;
    background-color: var(--light-blue);
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 3px;
    color: var(--dark-blue);
}

.background section {
    display: flex;
    flex-flow: column nowrap;
}