.register_teacher_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    margin-bottom: 100px;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 820px;
    border: #018A8C solid 2px;
    border-radius: 5px;
    background-color: #EEFCFC;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 3px;
    color: #018A8C;
}
.contact_background {
    position: absolute;
    top: 110px;
    padding: 25px;
}

.description_background {
    position: absolute;
    top: 460px;
    padding: 25px;
}

.second_right {
    align-self: flex-start;
    margin-top: 40px;
}

textarea {
    font-family: Roboto, sans-serif;
    resize: none;
    padding: 10px;
    width: 420px;
    height: 280px;
    margin: 0 0 0 10px;
    border: #018A8C solid 1px;
    border-radius: 5px;
}
textarea:focus {
    outline: none;
}

.userTeacher_background {
    position: absolute;
    top: 1182px;
    padding: 25px;
    margin: 0 0 35px 0;
}

.description_background ul {
    padding: 0;
    margin: 0 0 0 20px;
    clear: both;
}

.description_background li{
    list-style-type: none;
    list-style-position: outside;
    float: left;
}


.day[type="checkbox"]:not(:checked),
.day[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

.day[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    padding-top: 8px;
    border: 1px solid #018A8C;
    text-align: center;
    color: #000000;
    background-color: #97EBED;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.day[type="checkbox"]:checked + label {
    text-align: center;
    border: 1px solid #018A8C;
    color: #97EBED;
    background-color: #018A8C;
    border-radius: 50%;
}

.checkbox_container {
    margin: 0 0 5px 20px;
}

.description_background label {
    margin-right: 5px;
}

.description_background input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
}

.description_background select {
    border: #018A8C solid 1px;
    border-radius: 3px;
    margin: 0 0 15px 10px;
    padding: 5px;
    width: 200px;
}
.description_background select:focus {
    outline: none;
}