.button {
    background-color: #1ECB02;
    border: #128200 solid 2px;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    background-color: #128200;
}