.selector {
    border: var(--dark-blue) solid 1px;
    border-radius: 3px;
    margin: 0 0 15px 10px;
    padding: 5px;
    width: 200px;
}

.selector:focus {
    outline: none;
    border: var(--dark-blue) solid 2px;
}

