.container {
    width: inherit;
    max-height: 200px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: var(--dark-blue) solid 1px;
    border-radius: 5px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 3px;
}

.container > p {
    color: #000;
    white-space: pre-wrap;
}

.container::-webkit-scrollbar {
    width: 16px;               /* width of the entire scrollbar */
}

.container::-webkit-scrollbar-track {
    background: var(--light-blue); /* color of the tracking area */
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--light-blue);  /* creates padding around scroll thumb */
}