.request_background .instrument {
    margin-bottom: 30px;
}

.request_background .request_right {
    margin-top: 70px;
}

.request_background h2,
.request_background h3,
.request_background label {
    color: #018A8C;
}

.request_background h2 {
    margin-left: 40px;
    text-decoration: underline;
}

.request_background h3 {
    margin: 0 0 15px 25px;
}
.request_background .select_h3 {
    display: inline;
}

.request_background label {
    margin-right: 5px;
}

.request_background input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
}

.request_background select {
    border: #018A8C solid 1px;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
}
.request_background select:focus {
    outline: none;
}

.request_background textarea {
    font-family: Roboto, sans-serif;
    resize: none;
    padding: 10px;
    width: 420px;
    height: 280px;
    margin: 0 0 0 10px;
    border: #018A8C solid 1px;
    border-radius: 5px;
}
.request_background textarea:focus {
    outline: none;
}


::placeholder {
    color: #AEAEAE;
}

.request_background .availability {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.request_background ul {
    padding: 0;
    margin: 0 0 0 20px;
    clear: both;
}

.request_background li{
    list-style-type: none;
    list-style-position: outside;
    float: left;
}


.day[type="checkbox"]:not(:checked),
.day[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

.day[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    padding-top: 8px;
    border: 1px solid #018A8C;
    text-align: center;
    color: #000000;
    background-color: #97EBED;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.day[type="checkbox"]:checked + label {
    text-align: center;
    border: 1px solid #018A8C;
    color: #97EBED;
    background-color: #018A8C;
    border-radius: 50%;
}

.checkbox_container {
    margin: 0 0 5px 20px;
}



