#matchpage {
    justify-content: stretch;
    align-items: flex-start;
}

.avatars {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homework_container {
    display: flex;
    height: 340px;
    flex-direction: column;
    justify-content: space-between;
}

#matchpage button {
    font-size: 1rem;
    padding: 1rem;
    align-self: flex-end;
}