.avatar {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar h2 {
    margin: 0;
}

#about {
    flex-direction: column;
    align-items: flex-start;
}

.about_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.request {
    width: 450px;
    margin-top: 10px;
}

.request_container {
    width: inherit;
    max-height: 200px;
    background-color: #FFFFFF;
    border: var(--dark-blue) solid 1px;
    border-radius: 5px;
    padding: 10px 25px;
    overflow-y: auto;
}

.request_container > p {
    color: #000;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navigation_btn {
    margin-bottom: 20px;
    width: 100%;
}