*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;

  background-color: #fcf8f8;
  background-image: url("assets/Background MnM.png");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 16px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--light-blue);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--light-blue);  /* creates padding around scroll thumb */
}


h2,
h3,
h4,
p {
  color: var(--dark-blue);
}

h2,
h3 {
  margin: 10px 0 10px 25px;
}

h2 {
  text-decoration: underline;
}

h4 {
  margin: 5px 0;
  font-weight: normal;
}

:root {
  --white: #FCF1EF;
  --light-blue: #EEFCFC;
  --blue: #97EBED;
  --dark-blue: #018A8C;
  --green: #1ECB02;
  --dark-green: #128200;
  --light-orange: #FFD1BE;
  --orange: #FF8858;
  --grey: #AEAEAE;
  --error: #A60000;
}

